<!doctype html>
<html>
  <!-- Include the head partial -->
  <%- include('partials/head') %>
  <body>
    <h1>About</h1>
    <h2><%= shopName %></h2>
    <p>
      Let Paola welcome you to Osteria Tufo, an Italian restaurant in the heart of Finsbury Park...
      <br><br>
      Whether you are looking to have a romantic dinner for two or a good time with great friends,
      a meal before the theatre or hosting a private event, make sure you try Osteria Tufo. 
      Paola guarantees that you will not be disappointed.
    </p>

    <h3>Our Shop Locations</h3>
    <ul>
      <% for (let i = 0; i < shopLocations.length; i++) { %>
        <li>
          <strong><%= shopLocations[i].location %></strong><br>
          Manager: <%= shopLocations[i].manager %><br>
          Address: <%= shopLocations[i].address %>
        </li>
        <br>
      <% } %>
    </ul>
  </body>
</html>
